button {
	border-radius: 8px;
	background-color: #e59729;
	border: none;
	color: white; 
	padding: 10px 24px; 
	width: 350px; 
	display: block;
	font-size: 20px;

}
button:focus {outline:0;}

canvas{
	border: 2px solid black;
	margin: 20px 20px;
}

button:hover {
  	background-color: #3e8e41;
}

div{
	margin: 20px auto;
	border-radius: 8px;
	background-color: #a5c9ba;
	width: 350px;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #442d7a;
}

h3{
	padding: 5px 15px;
}

h2{
	text-align: center;
	color: #1f1133;
}

body{
	background-image: url("https://lh3.googleusercontent.com/LVckatLj-TE8j75RHxUy97k-XbAmoplJDp3V7isCPkPr9ZnKxeOX73zBrLbIJZMJuY5w0tdaEzmeHoI0GzfMmyAhjYYKdk5FHAszBsZiXsnCOBi3rzBRAgvntKaAz9DHfIok05ZJTkY7RDdUtfVN58OG7sE7EWavU2drpI1ZASDylxnv0eXS_P6F0Lx7FX0wTFZ6uN9CKrY2HfhcLgArWpQ1q_M3kUL3ShC4R0ZmVnxramL34_88UfXAn0UlnaeJqN1CSHVDrnhRPoj1MjbQMUCdKvHOiKX-sJkAMyAxL7-aDFTT_J14yZMx_jVUlyVBbMJNJZQQo2ndTJkYYWc4CHd7EsjTpOn9buZv327jmTFe3rAQ7mkcAeUz5FOMtsflx8uw5Ia7ttM--vfmRhGZE_V8qdSiUCDc_YKXsm8KuIrfl6ahw-DdgcP6MxyJyUGPmbxIBh6PNfI1Fv4j1YiUyCjYFRusVe0q4MXnI152vNNC5bLyVvhC5PseTl9FOcOu1bD2TqaAFJAAYsKXe8fzcArLNr9IzadGZ5F3YaLhVsX8COBG7V0CDQgV0cZwU0f-j51u0-VMdADk114UGIGofQBbUvUtxS_XCzwWyv07KifbTq_Q6G1LIgAf3Kg9nY-NPeKujR4-trPYoJyzXijn4qi3jw=w1202-h676-no");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center; 
	padding: 0;
	margin: 0;
}

#mst{
	font-size: 25px;
	color: white;
  	text-shadow: 2px 2px 4px #000000;
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 1px;
}