button {
	border-radius: 8px;
	background-color: #e59729;
	border: none;
	color: white; 
	padding: 10px 24px; 
	width: 350px; 
	display: block;
	font-size: 20px;

}
button:focus {outline:0;}

canvas{
	border: 2px solid black;
	margin: 20px 20px;
}

button:hover {
  	background-color: #3e8e41;
}

div{
	margin: 20px auto;
	border-radius: 8px;
	background-color: #a5c9ba;
	width: 350px;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #442d7a;
}

h3{
	padding: 5px 15px;
}

h2{
	text-align: center;
	color: #1f1133;
}

body{
    	background-position: center center; 
	padding: 0;
	margin: 0;
}

#mst{
	font-size: 25px;
	color: white;
  	text-shadow: 2px 2px 4px #000000;
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 1px;
}
